@include exports("@path:components\_ep4.scss"){/*@path:components\_ep4.scss*/
  .ov-wrap{
    &.vibrate.v4{
      &.phase1{
        .pulse-btn.incorr:nth-child(1),.pulse-btn.corr:nth-child(1){
          display:none;
        }
      }
      &.phase2{
        .pulse-btn.incorr:nth-child(2),.pulse-btn.corr:nth-child(2){
          display:block;
        }
      }
      .pulse-btn{
        cursor:pointer;
        @include abs($l:10%);
        width:14em;
        height:2.3em;
        &.incorr{
          top:10%;
          &:nth-child(2){
            top:20%;
            left:20%;
            display:none;
          }
        }
        &.corr{
          top:20%;
          &:nth-child(2){
            left:40%;
            top:20%;
            display:none;
          }
        }
        svg{
          width:100%;
          height:100%;
        }
        img{
          width:100%;
        }
      }
    }
    &.map{
      &.v3{
        &.ok{
          .pulse-btn:not(.start){
            display:block;
          }
        }
        .pulse-btn:not(.start){
          display:none;
          position:absolute;
          &.shown{
            display:block;
          }
        }
      }
    }
  }
  //---

}