@include exports("@path:components\_main.scss"){/*@path:components\_main.scss*/
  .overlay-block{
    @include abs($t:0,$b:0,$l:0,$r:0);
    background:#000;
    opacity:0;
    visibility:hidden;
    z-index:1;
    font-size:1.575vw;
    line-height:1.25;
    @media (min-aspect-ratio:16/9){
      font-size:2.8vh;
    }
    @include trs('opacity #{$anim} ease-in-out');
    &.shown{
      opacity:1;
      visibility:visible;
    }
    //---
    /*
   @keyframes p-b-clip{
      0%,100%{clip-path:polygon(0 0,100% 0,100% 2px,0 2px);}
      25%{clip-path:polygon(0 0,2px 0,2px 100%,0 100%);}
      50%{clip-path:polygon(0 calc(100% - 2px),100% calc(100% - 2px),100% 100%,0 100%);}
      75%{clip-path:polygon(calc(100% - 2px) 0,100% 0,100% 100%,calc(100% - 2px) 100%);}
    }
    @keyframes p-b-pulse{
      0% {
        @include trf(scale(.9));
      }
      70% {
        @include trf(scale(1));
        box-shadow:0 0 0 20px #fff;
      }
      100% {
        @include trf(scale(.9));
        box-shadow:0 0 0 0 #fff;
      }
    }

    .pulse-btn{
      @include center($b:15%);
      width:11.25%;
      height:20%;
      background:rgba(#000,0.5);
      border-radius:50%;
      cursor:pointer;
    }
    .p-b-clip{
      @include abs($l:30%,$t:30%);
      @include trf(rotate(45deg));
      width:40%;
      height:40%;
      background:rgba(#000,0.5);
      &:before,&:after{
        content:'';
        @include abs($l:-10%,$r:-10%,$t:-10%,$b:-10%);
        z-index:-1;
        box-shadow:inset 0 0 0 1px #fff;
        animation:p-b-clip 8s linear infinite;
      }
      &:before{
        animation-delay:-4s;
      }
    }
    .p-b-pulse{
      border-radius:50%;
      box-shadow:0 0 0 0 rgba(#fff,.5);
      animation:p-b-pulse 1.5s infinite;
      @include abs($l:15%,$t:15%);
      width:70%;
      height:70%;
      background:#fff;
    }*/
    //---
  }

  .ov-wrap{
    width:100%;
    height:56.25vw; //h:w=9/16
    max-height:100vh;
    max-width:177.7777vh; //16/9=1.778
    @include center($t:100%);
    &.shown{
      top:auto;
    }
    &.start{
      background:#000;
      @extend %text-btn;
      .w-p-outer{
        transition-delay:$anim*5;
      }
      .pulse-btn{
        transition-delay:$anim*5;
      }
    }
    &.vibrate{
      &.v2{
        .pulse-btn{
          width:11.25%;
          cursor:pointer;
          @include center($b:10%);
          img{
            width:100%;
          }
        }
      }
      .w-p-outer{
        margin:auto;
      }
      .w-p-wrap{
        padding:6px;
        cursor:pointer;
        @include trs('transform 1s cubic-bezier(0.65, 0.05, 0.36, 1)');
      }
      .w-p-cont{
        padding:6px;
      }
      .w-p-text{
        width:20.91em;
        height:3.46em;
      }
      .w-p-p{
        @include abs($l:0,$r:0,$t:-1px);
        div{
          border-top:1px solid orange;
          width:0;
          @include trs('width linear');
        }
      }
      .w-p-p-text{
        @include abs($l:0,$t:-17px);
        font-size:0.6em;
        color:orange;
      }
    }
    &.qs{
      color:#fff;
      .w-p-outer{
        top:10%;
        //animation:none;
        width:31em;
        margin:0 auto;
      }
      .w-p-wrap{
        height:5.2em;
      }
      .w-p-bg{
        width:100%;
        height:100%;
      }
      .w-p-cont{
        height:100%;
      }
      .w-p-c-bg{
        @include abs($l:0.5em);
        width:100%;
        height:100%;
      }
      .w-p-text{
        @include abs($l:3em,$t:2.5em);
        opacity:0;
        text-align:center;
        font-size:1.1em;
        @include trs('opacity #{$anim} ease-in-out');
        &.shown{
          opacity:1;
        }
      }
      .qs-ava{
        @include abs($l:1.95em,$t:-2.85em);
        height:4em;
      }
      .next-block{
        margin-top:1em;
        @include flx(display,flex);
        @include flx(justify-content,center);
        .yes,.no{
          cursor:pointer;
          width:6.5em;
          margin:0 2em;
          position:relative;
          &.good img:nth-child(1){
            opacity:1;
          }
          &.bad img:nth-child(2){
            opacity:1;
          }
        }
        img{
          width:100%;
          &:nth-child(1),&:nth-child(2){
            @include trs('opacity #{$anim} ease-in-out');
            @include abs($l:0,$r:0,$t:0,$b:0);
            opacity:0;
          }
        }
      }
      .next-msg{
        text-align:center;
        opacity:0;
        @include trs('opacity #{$anim} ease-in-out');
        &.shown{
          opacity:1;
        }
      }
      .next-list{
        position:relative;
        height:15.6em;
      }
      .n-l-bg{
        width:100%;
        height:100%;
        @include abs($l:0,$t:0);
      }
      .n-l-cont{
        position:relative;
        padding:5em 0 0 4.1em;
        height:100%;
        @extend %bxz;
        @include anim('w-move 20s infinite');
      }
      .n-l-c-bg{
        width:100%;
        height:100%;
        @include abs($l:0,$t:0);
      }
      .n-l-pulse{
        @include abs($l:2em,$t:1.75em);
        width:5em;
        @include trf(scale(-1,1));
      }
      .n-l-inner{
        position:relative;
        div{
          opacity:0;
          @include trs('opacity #{$anim} ease-in-out');
          &.shown{
            opacity:1;
          }
        }
      }
      .n-l-dots{
        position:relative;
      }
    }
    &.map{
      background:url(#{$path}map-bg1.png) center/cover no-repeat;
      @extend %text-btn;
      &.shown{
        .map-circles{
          opacity:1;
          visibility:visible;
        }
      }
      &.ok{
        .wobble-pop{
          pointer-events:none;
        }
        .w-p-outer,.pulse-btn{
          opacity:0;
          transition-delay:0s;
          transition-duration:$anim;
          pointer-events:none;
        }
        .circle{
          opacity:1;
          visibility:visible;
        }
        .mark{
          display:block;
        }
      }
      &.done{
        .wobble-pop{
          pointer-events:auto;
        }
        .w-p-outer,.pulse-btn{
          opacity:1;
          transition-delay:0s;
          transition-duration:$anim;
          pointer-events:auto;
        }
        .w-p-t-ov div{
          &:nth-child(1){
            display:none;
          }
          &:nth-child(3){
            display:block;
          }
        }
      }
      &.err{
        .w-p-t-ov div{
          &:nth-child(2){
            display:block;
          }
          &:nth-child(3){
            display:none;
          }
        }
      }
      .w-p-outer{
        transition-delay:$anim*5;
      }
      .pulse-btn{
        transition-delay:$anim*5;
      }
    }
    &.catch{
      @extend %text-btn;
      &.shown{

      }
      &.ok{
        .wobble-pop{
          pointer-events:none;
        }
        .w-p-outer,.pulse-btn{
          opacity:0;
          transition-delay:0s;
          transition-duration:$anim;
          pointer-events:none;
        }
        .catch-block{
          opacity:1;
          pointer-events:auto;
        }
      }
      .w-p-outer{
        transition-delay:$anim*2;
      }
      .pulse-btn{
        transition-delay:$anim*2;
      }
    }
  }
  //---
  .ov-video{
    width:100%;
    height:100%;
    position:absolute;
  }
  //---
  @include kfs(map-rotate1){
    0%{
      @include trf('translate(-50%,-50%) rotate(0deg)');
    }
    100%{
      @include trf('translate(-50%,-50%) rotate(360deg)');
    }
  };
  @include kfs(map-rotate2){
    0%{
      @include trf('translate(-50%,-50%) rotate(0deg)');
    }
    100%{
      @include trf('translate(-50%,-50%) rotate(-360deg)');
    }
  };

  .catch-block{
    opacity:0;
    pointer-events:none;
    @include trs('opacity #{$anim} ease-in-out');
    @include abs($l:0,$r:0,$t:0,$b:0);
    background:rgba(#f00,0.3);
    .thing{
      cursor:pointer;
      position:absolute;
      height:5%;
      background:#eee;
      @include trs('left 0s ease-in-out,top 0s ease-in-out');
      &.no{

      }
    }
  }
  //---
  .map-circles{
    position:absolute;
    width:100%;
    height:100%;
    opacity:0;
    overflow:hidden;
    visibility:hidden;
    @include trs('opacity #{$anim*2} ease-in-out #{$anim*2}');
    background:url(#{$path}map-bg2.png) center/cover no-repeat;
    .circle{
      cursor:pointer;
      position:absolute;
      opacity:0;
      visibility:hidden;
      @include trs('opacity #{$anim} ease-in-out,background #{$anim} ease-in-out');
      @include center();
      &:hover{
        background:rgba(#f00,0.3);
      }
      &:nth-child(1){
        width:100%;
        height:100%;
      }
      &:nth-child(2){
        width:78%;
        padding-bottom:78%;
        border-radius:50%;
        @include anim('map-rotate1 10s linear infinite');
      }
      &:nth-child(3){
        width:40%;
        padding-bottom:40%;
        border-radius:50%;
        @include anim('map-rotate2 20s linear infinite');
      }
    }
    .mark{
      display:none;
    }
    svg{
      position:absolute;
      width:100%;
      height:100%;
      pointer-events:none;
    }
  }
  //---
  .the-anim{
    @include abs($r:0,$t:0);
    width:11.54%;
    opacity:0;
    z-index:1;
    @include trs('opacity #{$anim} ease-in-out #{$anim*5}');
    .timer &{
      opacity:1;
    }
    img{
      width:100%;
    }
  }
  .the-timer{
    z-index:1;
    width:8%;
    padding-bottom:8%*64/330;
    color:#fff;
    opacity:0;
    visibility:hidden;
    text-align:center;
    @include abs($t:50%,$r:50%);
    @include trf(translate(50%,-50%));
    @include trs('opacity #{$anim} ease-in-out,top #{$anim*4} ease-out #{$anim*5},right #{$anim*4} ease-out #{$anim*5},transform #{$anim*4} ease-out #{$anim*5}');
    .timer &{
      visibility:visible;
      opacity:1;
      top:20px;
      right:2px;
      transform:none;
    }
    .the-t-bg{
      @include abs($l:0,$t:0);
      width:100%;
      height:100%;
    }
    .the-t-text{
     @include center();
      white-space:nowrap;
    }
  }
  //other
  .loader-pop{
    @include abs($l:0,$r:0,$t:0,$b:0);
    @include trs('opacity #{$anim} ease-in-out');
    @extend %loader;
    z-index:1;
    background-color:#eee;
    .loaded &{
      opacity:0;
      pointer-events:none;
    }
  }
  .orientation-pop{
    @include abs($l:0,$r:0,$t:0,$b:0);
    display:none;
    background:#fff;
    font-size:30px;
    line-height:30px;
    z-index:1;
    @include flx(justify-content,center);
    @include flx(align-items,center);
    .too-small &{
      @include flx(display,flex);
    }
  }
  .start-pop{
    @include abs($l:0,$r:0,$t:0,$b:0);
    @include flx(display,flex);
    background:#eee;
    @include trs('opacity #{$anim} ease-in-out');
    .start &{
      opacity:0;
      pointer-events:none;
    }
    div{
      font-size:20px;
      margin:auto;
      cursor:pointer;
    }
  }
}