<!DOCTYPE html>
<html data-app='{"modules":["index"],"index":3}'>
    <head>
		@@include('components/head.html')
        @@include('components/scripts.html')
	</head>
	<body>
		<div id="wrap">
			<video playsinline
					class="video-js"
					controls
                    preload="auto"> <!--poster="//vjs.zencdn.net/v/oceans.png" data-setup='{}'-->
                <!--<source src="../test.mp4" type="video/mp4" />-->
				<!--<source src="../PREDMASTER1SER.mp4" type="video/mp4" />-->
				<p class="vjs-no-js">
					To view this video please enable JavaScript, and consider upgrading to a
					web browser that
					<a href="https://videojs.com/html5-video-support/" target="_blank">
						supports HTML5 video
					</a>
				</p>
			</video>
			<div class="overlay-block">
                <div class="ov-wrap start v2">
                    <video class="ov-video" preload="auto" muted loop>
                        <source src="../test.mp4" type="video/mp4" />
                    </video>
                    <div class="pulse-btn">
                        <img src="images/but-click.png" alt=""/>
                    </div>
                    <div class="pulse-btn corr">
                        <img src="images/but-click.png" alt=""/>
                    </div>
                </div>
                <div class="ov-wrap leaflet">
                    <video class="ov-video" preload="auto" muted loop>
                        <source src="../test.mp4" type="video/mp4" />
                    </video>
                    <div class="leaflet-block">
                        <svg class="bg">
                            <use xlink:href="#icon-shared-3-02-bg"></use>
                        </svg>
                    </div>
                    <div class="wobble-pop">
                        <div class="w-p-outer">
                            <div class="w-p-wrap">
                                <svg class="w-p-bg">
                                    <use xlink:href="#icon-shared-text-bg"></use>
                                </svg>
                                <img class="w-p-pulse" src="images/pulse-btn.png" alt=""/>
                                <div class="w-p-cont">
                                    <svg class="w-p-text">
                                        <use xlink:href="#icon-shared-text-top"></use>
                                    </svg>
                                    <div class="w-p-t-ov">
                                        <div>
                                            Стартовый текст
                                        </div>
                                        <div>
                                            Конечный текст
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pulse-btn start">
                        <img src="images/but-click.png" alt=""/>
                    </div>
                </div>
                <div class="ov-before">
                    <svg>
                        <use xlink:href="#icon-shared-pop-poloski1"></use>
                    </svg>
                </div>
            </div>
            <div class="the-anim">
                <img src="images/pulse-btn.png" alt=""/>
            </div>
            <div class="the-timer continued">
                <svg class="the-t-bg">
                    <use xlink:href="#icon-shared-clock-bg"></use>
                </svg>
                <div class="the-t-text"></div>
                <div class="the-t-pop"></div>
            </div>
            <div class="start-pop">
                <div style="background-image: url(images/start-bg.svg);"></div>
                <div style="background-image: url(images/start-button-p.svg);"></div>
                <div style="background-image: url(images/start-button.svg);"></div>
            </div>
            <div class="loader-pop">
                <div class="bg" style="background-image: url(images/loader-bg.svg);"></div>
                <div class="l"></div>
            </div>
            <div class="orientation-pop">
                <div class="bg" style="background-image: url(images/loader-bg.svg);"></div>
                <div class="text">
                    Экран слишком мал :(<br/>
                    Возможно, вам поможет поворот девайса.
                </div>
            </div>
		</div>
        <audio class="sounds" data-what="the-btn" src="../1ser/MP3/button.mp3" preload="auto"></audio>
        <!--<audio class="sounds" data-what="forest-bg" src="../2ser/MP3/2-14-music.mp3" preload="auto" loop></audio>-->
        <script type="text/template" id="leaflet-bad-template"><svg class="bad shown"><use xlink:href="#icon-shared-3-02-<%= i %>-w"></use></svg></script>
        <script type="text/template" id="leaflet-good-template"><svg class="good"><use xlink:href="#icon-shared-3-02-<%= i %>-r"></use></svg></script>
        <script type="text/template" id="leaflet-item-template"><div class="item shown" style="left:<%= left %>%;top:<%= top %>%;width:<%= width %>%;height:<%= height %>%;"></div></script>
        <div class="safe-hide-svg">
            @@include('components/shared-sprite.svg')
        </div>
	</body>
</html>