<!DOCTYPE html>
<html data-app='{"modules":["index"],"index":1}'>
    <head>
		@@include('components/head.html')
        @@include('components/scripts.html')
	</head>
	<body>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
     (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
     (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

     ym(68233750, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true
     });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/68233750" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
		<div id="wrap">
			<video playsinline
					class="video-js"
					controls> <!--poster="//vjs.zencdn.net/v/oceans.png" data-setup='{}'-->
				<!--<source src="../PREDMASTER1SER.mp4" type="video/mp4" />-->
				<p class="vjs-no-js">
					To view this video please enable JavaScript, and consider upgrading to a
					web browser that
					<a href="https://videojs.com/html5-video-support/" target="_blank">
						supports HTML5 video
					</a>
				</p>
			</video>
			<div class="overlay-block">
                <div class="ov-wrap start brdName">
                    <div class="wobble-pop">
                        <div class="w-p-outer">
                            <div class="w-p-wrap">
                                <svg class="w-p-bg">
                                    <use xlink:href="#icon-ep1-text-bg"></use>
                                </svg>
                                <img class="w-p-pulse" src="images/pulse-btn.png" alt=""/>
                                <div class="w-p-cont">
                                    <svg class="w-p-text">
                                        <use xlink:href="#icon-ep1-text-top"></use>
                                    </svg>
                                    <div class="w-p-t-ov">
                                        Придумай свой позывной в отряде «Лиза Алерт»,<br/>
                                        пройди все 4 серии и запиши свой результат<br/>
                                        в таблицу лидеров.
                                        <input placeholder="Введи свое имя" type="text"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pulse-btn start">
                        <img src="images/but-click.png" alt=""/>
                    </div>
                </div>
                <div class="ov-wrap map learn">
                    <div class="wobble-pop">
                        <div class="w-p-outer">
                            <div class="w-p-wrap">
                                <svg class="w-p-bg">
                                    <use xlink:href="#icon-ep1-2-14-text-bg"></use>
                                </svg>
                                <img class="w-p-pulse" src="images/pulse-btn.png" alt=""/>
                                <div class="w-p-cont">
                                    <svg class="w-p-text">
                                        <use xlink:href="#icon-ep1-2-14-text-top"></use>
                                    </svg>
                                    <div class="w-p-t-ov">
                                        <div>Text1</div>
                                        <div>Text2</div>
                                        <div>Text3</div>
                                        <div>Text4</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pulse-btn start">
                        <img src="images/but-click.png" alt=""/>
                    </div>
                </div>
                <div class="ov-wrap start v1">
                    <div class="ov-video" style="background-image: url(images/first-bg.jpg);"></div>
                    <div class="wobble-pop">
                        <div class="w-p-outer">
                            <div class="w-p-wrap">
                                <svg class="w-p-bg">
                                    <use xlink:href="#icon-ep1-text-bg"></use>
                                </svg>
                                <img class="w-p-pulse" src="images/pulse-btn.png" alt=""/>
                                <div class="w-p-cont">
                                    <svg class="w-p-text">
                                        <use xlink:href="#icon-ep1-text-top"></use>
                                    </svg>
                                    <div class="w-p-t-ov">
                                        Это интерактивное приключение, в котором <br>ты увидишь, какие задачи и проблемы возникают <br>перед членами отряда.<br>
                                        Каждое решение имеет свою цену. <br>Твой противник — само время.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pulse-btn start">
                        <img src="images/but-click.png" alt=""/>
                    </div>
                    <!--<div class="pulse-btn">
                        <div class="p-b-clip">
                            <div class="p-b-pulse"></div>
                        </div>
                    </div>-->
                </div>
                <div class="ov-wrap vibrate v1">
                    <video class="ov-video" preload="auto" loop muted playsinline>
                        <source src="../test.mp4" type="video/mp4" />
                    </video>
                    <div class="wobble-pop">
                        <div class="w-p-outer click">
                            <div class="w-p-wrap">
                                <svg class="w-p-bg">
                                    <use xlink:href="#icon-ep1-button-bottom"></use>
                                </svg>
                                <div class="w-p-p-text">0</div>
                                <div class="w-p-p"><div></div></div>
                                <div class="w-p-cont">
                                    <svg class="w-p-text">
                                        <use xlink:href="#icon-ep1-button-top"></use>
                                    </svg>
                                    <!--<div class="w-p-text">взять координацию на себя</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ov-wrap vibrate v2">
                    <video class="ov-video" preload="auto" loop muted playsinline>
                        <source src="../test.mp4" type="video/mp4" />
                    </video>
                    <div class="pulse-btn">
                        <img src="images/but-click.png" alt=""/>
                    </div>
                </div>
                <div class="ov-wrap qs">
                    <video class="ov-video" preload="auto" loop muted playsinline>
                        <source src="../test.mp4" type="video/mp4" />
                    </video>
                    <div class="wobble-pop">
                        <div class="w-p-outer qs-block">
                            <div class="w-p-wrap">
                                <svg class="w-p-bg">
                                    <use xlink:href="#icon-ep1-question-bg"></use>
                                </svg>
                                <img class="ava" src="images/question-photo.png" alt=""/>
                                <div class="w-p-cont">
                                    <svg class="w-p-c-bg">
                                        <use xlink:href="#icon-ep1-question-bg-add"></use>
                                    </svg>
                                    <div class="w-p-text"></div>
                                </div>
                            </div>
                            <div class="next">
                                <div class="yes">
                                    <img src="images/but-good.png" alt=""/>
                                    <img src="images/but-bad.png" alt=""/>
                                    <img src="images/but-yes.png" alt=""/>
                                </div>
                                <div class="no">
                                    <img src="images/but-good.png" alt=""/>
                                    <img src="images/but-bad.png" alt=""/>
                                    <img src="images/but-no.png" alt=""/>
                                </div>
                            </div>
                            <div class="msg">&nbsp;</div>
                            <div class="list">
                                <svg class="l-bg">
                                    <use xlink:href="#icon-ep1-list-bg-bot"></use>
                                </svg>
                                <img class="l-pulse" src="images/pulse-btn.png" alt=""/>
                                <div class="l-cont">
                                    <svg class="l-c-bg">
                                        <use xlink:href="#icon-ep1-list-bg-top"></use>
                                    </svg>
                                    <div class="l-inner">
    
                                    </div>
                                    <div class="l-dots">...</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ov-wrap map">
                    <div class="map-circles">
                        <div class="circle"></div>
                        <div class="circle">
                            <svg>
                                <use xlink:href="#icon-ep1-map-wheel-2km"></use>
                            </svg>
                        </div>
                        <div class="circle">
                            <svg>
                                <use xlink:href="#icon-ep1-map-wheel-2km"></use>
                            </svg>
                        </div>
                        <svg class="mark">
                            <use xlink:href="#icon-ep1-map-2km"></use>
                        </svg>
                        <svg class="mark">
                            <use xlink:href="#icon-ep1-map-4km"></use>
                        </svg>
                        <svg class="mark">
                            <use xlink:href="#icon-ep1-map-10km"></use>
                        </svg>
                    </div>
                    <div class="wobble-pop">
                        <div class="w-p-outer">
                            <div class="w-p-wrap">
                                <svg class="w-p-bg">
                                    <use xlink:href="#icon-ep1-text-bg"></use>
                                </svg>
                                <img class="w-p-pulse" src="images/pulse-btn.png" alt=""/>
                                <div class="w-p-cont">
                                    <svg class="w-p-text">
                                        <use xlink:href="#icon-ep1-text-top"></use>
                                    </svg>
                                    <div class="w-p-t-ov">
                                        <div>
                                            Не забудь, что чем больше радиус, тем больше <br/> людей и ресурсов понадобится. Но если
                                            радиус <br/> будет слишком мал, вся операция по поиску пропавшего окажется неэффективной.
                                        </div>
                                        <div>
                                            Нет. Дети уходят очень далеко, с учётом имеющихся данных, нам нужно покрыть радиус в 10 км.
                                        </div>
                                        <div>Верно, 10 км. Дети уходят очень далеко.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pulse-btn start">
                        <img src="images/but-click.png" alt=""/>
                    </div>
                </div>
                <div class="ov-wrap catch">
                    <video class="ov-video" preload="auto" loop muted playsinline>
                        <source src="../test.mp4" type="video/mp4" />
                    </video>
                    <div class="wobble-pop">
                        <div class="w-p-outer">
                            <div class="w-p-wrap">
                                <svg class="w-p-bg">
                                    <use xlink:href="#icon-ep1-text-bg"></use>
                                </svg>
                                <img class="w-p-pulse" src="images/pulse-btn.png" alt=""/>
                                <div class="w-p-cont">
                                    <svg class="w-p-text">
                                        <use xlink:href="#icon-ep1-text-top"></use>
                                    </svg>
                                    <div class="w-p-t-ov">
                                        Во время поиска может случиться всё что угодно. Хорошо подумай какие предметы необходимы,
                                        <br/> а какие добавят лишний вес рюкзаку.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pulse-btn start">
                        <img src="images/but-click.png" alt=""/>
                    </div>
                    <div class="catch-block">
                        <div class="pulse-btn">
                            <img src="images/but-click.png" alt=""/>
                        </div>
                        <div class="pulse-btn">
                            <img src="images/but-click.png" alt=""/>
                        </div>
                        <div class="pulse-btn">
                            <img src="images/but-click.png" alt=""/>
                        </div>
                        <div class="game">
    
                        </div>
                        <div class="game">
    
                        </div>
                        <div class="game">
    
                        </div>
                    </div>
                </div>
                <div class="ov-wrap scheme">
                    <video class="ov-video" preload="auto" loop muted playsinline>
                        <source src="../test.mp4" type="video/mp4" />
                    </video>
                    <div class="wobble-pop">
                        <div class="w-p-outer start">
                            <div class="w-p-wrap">
                                <svg class="w-p-bg">
                                    <use xlink:href="#icon-ep1-text-bg"></use>
                                </svg>
                                <img class="w-p-pulse" src="images/pulse-btn.png" alt=""/>
                                <div class="w-p-cont">
                                    <svg class="w-p-text">
                                        <use xlink:href="#icon-ep1-text-top"></use>
                                    </svg>
                                    <div class="w-p-t-ov">
                                        Для эффективного поиска и координации действий отряду нужен штаб. Убедись, что он обеспечен
                                        всем необходимым. <br/>
                                        Время дорого, поспеши!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pulse-btn start">
                        <img src="images/but-click.png" alt=""/>
                    </div>
                    <div class="scheme-block">
                        <div class="w-p-outer">
                            <div class="w-p-wrap">
                                <svg class="w-p-bg">
                                    <use xlink:href="#icon-ep1-pipes-bg-bot"></use>
                                </svg>
                                <div class="w-p-cont">
                                    <svg class="w-p-bg">
                                        <use xlink:href="#icon-ep1-pipes-bg-top"></use>
                                    </svg>
                                    <div class="viewport"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ov-before">
                    <svg>
                        <use xlink:href="#icon-ep1-pop-poloski1"></use>
                    </svg>
                </div>
            </div>
            <div class="the-anim">
                <img src="images/pulse-btn.png" alt=""/>
            </div>
            <div class="the-timer">
                <svg class="the-t-bg">
                    <use xlink:href="#icon-ep1-clock-bg"></use>
                </svg>
                <div class="the-t-text"></div>
                <div class="the-t-pop"></div>
                <div class="the-points">Счет:<span></span></div>
            </div>
            <div class="start-pop">
                <div style="background-image: url(images/start-bg.svg);"></div>
                <div style="background-image: url(images/start-button-p.svg);"></div>
                <div style="background-image: url(images/start-button.svg);"></div>
            </div>
            <div class="loader-pop">
                <div class="bg" style="background-image: url(images/loader-bg.svg);"></div>
                <div class="l"></div>
            </div>
            <div class="orientation-pop">
                <div class="bg" style="background-image: url(images/loader-bg.svg);"></div>
                <div class="text">
                    Экран слишком мал :(<br/>
                    Возможно, вам поможет поворот девайса.
                </div>
            </div>
		</div>
        <audio class="sounds" data-what="v1-bg" src="../1ser/MP3/1_14_bg.mp3" preload="auto" loop></audio>
        <audio class="sounds" data-what="scheme-bg" src="../1ser/MP3/1_17_bg.mp3" preload="auto" loop></audio>
        <audio class="sounds" data-what="v2-bg" src="../1ser/MP3/1_19_bg.mp3" preload="auto" loop></audio>
        <audio class="sounds" data-what="catch-bg" src="../1ser/MP3/1_21_bg.mp3" preload="auto" loop></audio>
        <audio class="sounds" data-what="qs-bg" src="../1ser/MP3/1_26_bg.mp3" preload="auto" loop></audio>
        <div class="safe-hide-svg">
            @@include('components/ep1-sprite.svg')
        </div>
        <script type="text/template" id="qs-list-item-template">
           <div><%= text %></div>
        </script>
        <script type="text/template" id="catch-thing-item-template">
            <div class="<%= cls %>" style="width:<%= width %>%;left:<%= left %>%;top:<%= top %>%;">
                <img src="images/packing/packing-<%= i1 %>-<%= i2 %>-p.png" />
                <img src="images/packing/packing-<%= i1 %>-<%= i2 %>.png" />
            </div>
        </script>
        <script type="text/template" id="scheme-thing-template">
            <div class="thing <%= already?'correct':'' %>" style="left:<%= (index%8)*12.5 %>%;top:<%= Math.floor(index/8)*25 %>%;transform:rotate(<%= angle %>deg);">
                <% if(type===1) { %>
                <svg class="ini">
                    <use xlink:href="#icon-ep1-pipes-elements-i-n"></use>
                </svg>
                <svg class="done">
                    <use xlink:href="#icon-ep1-pipes-elements-i-y"></use>
                </svg>
                <% } %>
                <% if(type===2) { %>
                <svg class="ini">
                    <use xlink:href="#icon-ep1-pipes-elements-l-n"></use>
                </svg>
                <svg class="done">
                    <use xlink:href="#icon-ep1-pipes-elements-l-y"></use>
                </svg>
                <% } %>
                <% if(type===3) { %>
                <svg class="ini">
                    <use xlink:href="#icon-ep1-pipes-elements-t-n"></use>
                </svg>
                <svg class="done">
                    <use xlink:href="#icon-ep1-pipes-elements-t-y"></use>
                </svg>
                <% } %>
                <svg class="hover">
                    <use xlink:href="#icon-ep1-pipes-elements-hover"></use>
                </svg>
            </div>
        </script>
    <script type="text/template" id="ext-player-template">
        <div class="special-btns">
            <div class="just-back"></div>
            <div class="int-back"></div>
            <!--<div class="int-ind-back"></div>-->
        </div>
    </script>
	</body>
</html>